.settings
i386-aros
x86_64-aros
68020
68020-60
*.info
*.map
/test_68020/
/tests_i386-aros/
/test_i386-aros/
/gc-sections/
/test_x86_64-aros/
/test_x86-64-aros/
/test_68020_render/
/test_68060_render/
/test_68020-60_render/
/test_68040_render/
/68020_Coverage/
